* {
    font-family: Arial, Sans-serif;
}
.section-one { 
    background-color: #1F2937;
}
.navlist { 
    display: inline;
    font-size: 24px;
    color: #F9FAF8;
}

.clear {
    clear: both;
}
ul {list-style-type: none;}

li {display: inline;
padding:10px;
font-size: 18px;
color: #E5E7EB;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
h1 {
    font-size: 48px;
    font-weight: extra bold;
    color: #F9FAF8;
    text-align: left;
}

p { 
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;

}
button{
    background-color: #3882F6;
    padding:10px;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;

}

.placeholder {
    height: 150px;
    width: 200px;
    background-color: lightgrey ;
}

h2 {
    text-align: center;
}

.section-two {
    background-color: #F9FAF8;
    padding: 50px;    
}

.containers {
    border-color:#3882F6;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-radius: 15px;
    border-width: 4px;
    display: inline-block;

    
    
}

.section-three {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    padding: 100px;
    font-style: italic;
    font-weight: 200;
    
}

.footer {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 30px;
    color: #E5E7EB;
    margin: 30px;
   display: flex;
}
p

.footer-button {
    border-color:#E5E7EB;
    border-style: solid;
}
]